.providerCard{

	background-color: white;
	border-bottom: 1px solid #c7c7c7;
	padding: var(--wp--preset--spacing--s);
	padding-bottom: var(--wp--preset--spacing--m);
	margin-bottom: var(--wp--preset--spacing--s);
	display: grid;
	column-gap: 20px;
	grid-template-columns: 100px auto;

	&:last-child{
		margin-bottom: 0;
	}

	&__results{
		height: 100%;
		overflow: auto;
	}

	&__avatar{

		border-radius: 50%;
		overflow: hidden;
		width: 100px;
		height: 100px;
		box-sizing: border-box;

		img{
			width: 100%;
			aspect-ratio: 1;
		}

	}

	&__info{

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 40px;

		p, a{
			margin: 0;
		}

		a{
			text-decoration: underline;
		}

	}

	&__header{

		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;

		.providerCard__avatar{
			display: none;
		}

	}

	.providerCard__avatar_mapView{
		display: none;
	}

	& &__title{
		line-height: 1.2;
		font-size: var(--wp--preset--font-size--l);
		margin-top: 0;
		margin-bottom: 0;
	}

	&__categories,
	&__address,
	&__distance,
	&__description{
		margin: 0!important;
	}

}



.providerResults__refineSearch{
	display: flex;
	justify-content: flex-end;
	padding-bottom: 20px;
}

.displayModeSwitch{

	display: flex;
	justify-content: flex-end;

	&__button{

		border-radius: 0;
		border: 1px solid rgb(198, 198, 198);
		background: white;
		padding: 12px 16px;
		font-size: 1.125rem;
		cursor: pointer;

		&:first-child{
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}

		&:last-child{
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}

		&_active{
			background-color: rgb(242, 242, 242);
			color: rgb(0, 128, 255);
		}

	}

}


.providerResults__pageTitle{
	font-size: 2.5rem;
	margin-top: 0;
}

.providerResults__topLeft{
	display: flex;
	justify-content: flex-start;
	gap: 20px;
}

.providers__display{

	display: grid;
	grid-template-columns: 1fr;
	height: 700px;

	.providers__map{
	
		display: none;
	
		#map-holder{
			height: 100%;
		}
	}

	&_mapView{

		grid-template-columns: 1fr 2fr;

		.providerCard{

			display: block;
			padding: var(--wp--preset--spacing--s)!important;
			margin: 0!important;
			cursor: pointer;

			&:hover{
				background-color: #F4F4F4;
			}

			&__avatar{
				display: none;
			}

			&__header{

				display: grid;
				grid-template-columns: 64px 1fr;
				column-gap: 20px;

				.providerCard__avatar{
					display: block;
					width: 64px;
					height: 64px;
					border-radius: 32px;
				}

			}

			&__info{

				display: block;

				&Card{

					&:not(:last-child){
						margin-bottom: 10px;
					}
				}

			}

			&__content{
				display: block
			}

		}

		.providers__map{
			display: block;
		}

	}

}

@media screen and (max-width: 1024px) {

	.providers__display{

		height: auto;

		&_mapView{
			display: flex;
			flex-direction: column-reverse;
			height: 100vh;
		}

	}

	.providerResults{

		&__refineSearch{
			justify-content: center;
		}

	}

	.providers__map{
		height: 50vh;
	}

	.providerCard{

		display: block;

		&__avatar{
			display: none;
		}

		&__header{

			display: grid;
			grid-template-columns: 60px 1fr;
			gap: 20px;
			margin-bottom: 20px;

			.providerCard__avatar{
				display: block;
				width: 60px;
				height: 60px;
			}

		}

		& &__title{
			font-size: 1.5rem;
		}

		&__info{

			display: block;

			&Card{

				&:not(:last-child){
					margin-bottom: 15px;
				}

			}

		}

	}

}